altair                
argon2-cffi           
argon2-cffi-bindings  
asttokens             
attrs                 
backcall              
beautifulsoup4        
bleach                
blinker               
cachetools            
certifi               
cffi                  
charset-normalizer   
click                 
colorama              
commonmark            
comtypes              
cycler                
debugpy               
decorator             
defusedxml            
distlib               
docopt               
entrypoints           
executing             
fastjsonschema        
filelock              
Flask                 
fonttools             
gitdb                 
GitPython             
idna                  
importlib-metadata   
ipykernel             
ipython               
ipython-genutils      
ipywidgets            
itsdangerous          
jedi                  
Jinja2                
jsonschema            
jupyter-client        
jupyter-core          
jupyterlab-pygments   
jupyterlab-widgets    
kiwisolver            
MarkupSafe            
matplotlib           
matplotlib-inline     
mistune               
nbclient              
nbconvert             
nbformat              
nest-asyncio          
notebook              
numpy                 
packaging             
pandas                
pandocfilters         
parso                 
patsy                 
pickleshare           
Pillow                
pip                   
pipenv                
pipreqs               
platformdirs          
plotly                
plotly-express        
prometheus-client     
prompt-toolkit        
protobuf              
psutil                
pure-eval             
pyarrow               
pycparser             
pydeck                
Pygments              
Pympler               
pyparsing             
pypiwin32             
pyrsistent            
python-dateutil       
pyttsx3               
pytz                  
pytz-deprecation-shim 
pywin32               
pywinpty              
pyzmq                 
requests              
rich                  
scipy                 
semver                
Send2Trash            
setuptools            
six                   
smmap                 
soupsieve             
stack-data            
statsmodels           
streamlit             
streamlit-lottie      
tenacity             
terminado             
tinycss2             
toml                  
toolz                 
tornado              
traitlets             
typing_extensions     
tzdata                
tzlocal               
urllib3               
validators            
virtualenv            
virtualenv-clone      
watchdog              
wcwidth               
webencodings          
Werkzeug              
widgetsnbextension    
yarg                  
zipp                  
