matplotlib
numpy                 
pandas                
Pillow                
pip                   
pipenv                
pipreqs               
plotly                
plotly-express        
requests              
streamlit             
streamlit-lottie      
